body {
    background: url('/static/images/link-hoang-UoqAR2pOxMo-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #5a331f;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: 5px;
    margin: 5px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  
